<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h4>Панель администратора</h4>
    <p><a href="/account_update">Обновить аккаунт</a></p>
    <p><a href="/admin_panel/users">Список пользователей</a></p>
    <form method="post" action="/user_logout">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}">
        <button type="submit">Выйти</button>
    </form>
    <hr>
    <p><a href="/admin_panel/add_product">Добавить продукт</a></p>
    <p><a href="/admin_panel/products">Список продуктов</a></p>
</body>
</html>