<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Авторизация</title>
</head>
<body>
    <a href="/login">Войти</a>
    <hr>
    <a href="/signup">Зарегистрироваться</a>
</body>
</html>