<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Вход</title>
</head>
<body>
    <form method="post" action="/login">
        <label>
            <input type="text" placeholder="Имя пользователя" name="username">
            <input type="password" placeholder="Пароль" name="password">
        </label>
        <input type="hidden" name="_csrf" value="{{_csrf.token}}">
        <button type="submit">LogIn</button>
    </form>
</body>
</html>