<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .addMsg {
            margin-left: 5px;
        }
        .msg {
            margin-top: 10px;
        }
    </style>
</head>
<body>
    <h4>Hello!</h4>
    <form method="post" action="/messages/add_msg">
        <label>
            <input type="text" placeholder="your message" name="msg">
        </label>
        <input type="hidden" name="_csrf" value="{{_csrf.token}}">
        <button class="addMsg" type="submit">add</button>
    </form>
    <form method="post" action="/messages/delete_all">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}">
        <button type="submit">delete all</button>
    </form>
    <div>
        {{#messages}}
            <div class="msg">
                {{msg}}
                <form method="post" action="/messages/delete_msg">
                    <input type="hidden" name="id" value="{{id}}">
                    <input type="hidden" name="_csrf" value="{{_csrf.token}}">
                    <button type="submit">delete message</button>
                </form>
            </div>
            <hr>
        {{/messages}}
    </div>
</body>
</html>