<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .error {
            color: red;
        }
    </style>
</head>
<body>
    <form method="post" action="/signup">
        <label>
            <input type="text" placeholder="Username" name="username"><br>
            <input type="email" placeholder="Email" name="email"><br>
            <input type="password" placeholder="Password" name="password"><br>
        </label>
        <input type="hidden" name="_csrf" value="{{_csrf.token}}">
        <button type="submit">SignUp</button>
    </form>
    <div class="error">
        {{#error_msg}}
            {{error_msg}}
        {{/error_msg}}
    </div>
</body>
</html>