<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Обновление аккаунта</title>
</head>
<body>
    <form method="get" action="/">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}">
        <button type="submit">К панели администратора</button>
        <br><br>
    </form>
    <!--USERNAME-->
    <form method="post" action="/account_update/update_username">
        <label>
            <input type="text" placeholder="Имя пользователя" name="username" value="{{username}}">
        </label>
        <input type="hidden" name="_csrf" value="{{_csrf.token}}">
        <button type="submit">Обновить</button>
        {{#usrname_error}}
            {{username_error}}
        {{/usrname_error}}
    </form> <br>
    <!--EMAIL-->
    <form method="post" action="/account_update/update_email">
        <label>
            <input type="email" placeholder="Почта" name="email" value="{{email}}">
        </label>
        <input type="hidden" name="_csrf" value="{{_csrf.token}}">
        <button type="submit">Обновить</button>
        {{#email_error}}
            {{email_error}}
        {{/email_error}}
    </form> <br>
    <!--PASSWORD-->
    <form method="post" action="/account_update/update_password">
        <label>
            <input type="password" placeholder="Сатрый пароль" name="oldPassword"><br>
            <input type="password" placeholder="Новый пароль" name="newPassword"><br>
            <input type="password" placeholder="Введите новый пароль еще раз" name="repeatedNewPassword"><br>
        </label>
        <input type="hidden" name="_csrf" value="{{_csrf.token}}">
        <button type="submit">Обновить</button>
        {{#password_error}}
            {{password_error}}
        {{/password_error}}
    </form>
    <!--DELETE-->
    <form method="post" action="/account_update/delete">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}">
        <button type="submit">Удалить аккаунт</button>
    </form>
</body>
</html>