<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Список пользователей</title>
</head>
<body>
    <div>
        <form action="/admin_panel/add_admin" method="post">
            <label>
                <input type="text" placeholder="Username" name="username"><br>
                <input type="email" placeholder="Email" name="email"><br>
                <input type="password" placeholder="Password" name="password"><br>
            </label>
            <input type="hidden" name="_csrf" value="{{_csrf.token}}">
            <button type="submit">Добавить нового администратора</button><br>
            {{#error}}
                {{error}}
            {{/error}}
        </form>
    </div>
    <hr>
    <h4>Администраторы:</h4>
    <div>
        {{#admin_list}}
            {{username}} <br>
            <form action="/admin_panel/users/delete_user" method="post">
                <input type="hidden" name="userID" value="{{userID}}">
                <input type="hidden" name="username" value="{{username}}">
                <input type="hidden" name="_csrf" value="{{_csrf.token}}">
                <button type="submit">Удалить</button>
            </form>
            <hr><br>
        {{/admin_list}}
    </div>

    <h4>Покупатели:</h4>
    <div>
        {{#user_list}}
            {{username}} <br>
            <form action="/admin_panel/users/delete_user" method="post">
                <input type="hidden" name="userID" value="{{userID}}">
                <input type="hidden" name="username" value="{{username}}">
                <input type="hidden" name="_csrf" value="{{_csrf.token}}">
                <button type="submit">Удалить</button>
            </form>
            <hr><br>
        {{/user_list}}
    </div>
</body>
</html>